APP_STAGE=dev
DATABASE_URL=postgresql://neondb_owner:npg_X14ktahbqENC@ep-delicate-mode-aqkc06ct-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=una_clave_secreta_super_larga_la_que_vos_querás