APP_STAGE=dev
DATABASE_URL=postgresql://neondb_owner:npg_uNBA5PCWURZ0@ep-bitter-night-aqtadhoy-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET="your_jwt_secret"

